header {
  position: fixed;
  width: calc(100% - 280px);
  right: 0;
  height: 57px;
  background: linear-gradient(-45deg, #0d0d0d, #1a1a1a, #0a2a42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.3s;
}

header.active-header {
  width: calc(100% - 70px);
}

header .menu-icon {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 4px;
  color: #fff;
}

header .menu-icon:hover {
  background-color: aliceblue;
  border-color: aqua;
  color: #0d0d0d;
  cursor: pointer;
}

header .header-searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  background-color: aliceblue;
  border-radius: 14px;
}

header .header-searchBox .search-input input {
  border: none;
  outline: none;
  background-color: transparent;
  line-height: 30px;
  color: #222;
  padding: 0 20px 0 10px;
}

header .header-searchBox button {
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
  border: 1px solid transparent;
  transition: all ease 0.3s;
}

header .header-searchBox button::after {
  position: absolute;
  content: "";
  height: 30px;
  border: 1px solid #999;
  left: 0;
}

header .header-searchBox button:hover .search-icon {
  transform: scale(1.2);
}

header .header-searchBox button .search-icon {
  font-size: 20px;
}

.header-searchBox:focus-within {
  box-shadow: 0 0 20px #0ef;
  border-color: #0ef;
}

header .header-user {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 4px;
}

header .header-user:hover .header-user-list {
  display: block;
}

header .header-user .header-user-avatar {
  width: 30px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid blue;
  cursor: pointer;
}

header .header-user span {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

header .header-user .header-user-list {
  position: absolute;
  top: calc(100% + 10px);
  left: -100%;
  transform: translateX(50%);
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px #999;
  animation: scale-max ease 0.3s;
  display: none;
  z-index: 1000;
}

@keyframes scale-max {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

header .header-user .header-user-list::before {
  position: absolute;
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: calc(-100% + 26px);
  right: calc(50% + 3px);
  transform: translateX(50%);
}

header .header-user .header-user-list::after {
  position: absolute;
  content: "";
  right: 10px;
  width: 80px;
  height: 20px;
  background: transparent;
  top: -30%;
  cursor: default;
}

header .header-user .header-user-list a {
  padding: 5px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  gap: 4px;
}

header .header-user .header-user-list span {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  color: #222;
}

header .header-user .header-user-list .logout-icon {
  font-size: 20px;
  border-right: 2px solid #999;
}
