.modal-overplay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../assets/img/background.jpg") no-repeat;
  background-size: cover;
}

.wrapper {
  width: 420px;
  height: 450px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  color: #fff;
  position: relative;
  box-shadow: 0 0 25px #0ef;
}
.wrapper .logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.wrapper .logo .login-logo {
  width: 80px;
  height: 80px;
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overplay .wrapper .form-box {
  width: 100%;
  padding: 30px 40px 40px;
}

.modal-overplay .wrapper .form-box h1 {
  font-size: 36px;
  text-align: center;
  pointer-events: none;
}

.modal-overplay .wrapper .form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.modal-overplay .wrapper .form-box .input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.modal-overplay .wrapper .form-box .input-box input:focus {
  border-color: #0ef;
}

.input-box input::placeholder {
  color: #fff;
}

.modal-overplay .wrapper .form-box .input-box .login-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.modal-overplay .wrapper .form-box .login-btn {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  z-index: 1;
}
.modal-overplay .wrapper .form-box .login-btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(45deg, #081b29, #0ef, #081b29, #0ef);
  z-index: -1;
}

.modal-overplay .wrapper .form-box .login-btn:hover {
  box-shadow: 0 0 25px #0ef;
}
